@section Scripts{
    <script src="~/js/VueModels/KnowledgeBase/Index.js"></script>
}


<div id="vueContainer">

    <p>Ingrese texto a guardar en base de conocimientos:</p>
    <textarea input type="text" v-model="Texto" class="text-input" style="border: 1px solid #ccc; padding: 60px ;margin-bottom: 10px;"></textarea>


    <div v-if="isLoading" class="row">
        <div class="col-2">
            <div class="spinner-border" role="status">
                <span class="sr-only"> </span>
            </div>
        </div>
    </div>

    <div v-if="showingAlert" class="row">     
        <div class="col-3">
            <div class="alert alert-success alert-dismissible">
                
                    <button type="button" class="btn-close" aria-label="Close" v-on:click="hidenAlert"></button>
                                             
                    El texto ha sido guardado con éxito
                
            </div>
        </div>
    </div>
    
    <div>
        <button v-on:click="guardar()" v-bind:disabled="buttonDisabled">Guardar</button>
    </div>

    

</div>
