@section Scripts{
    <script src="~/js/VueModels/KnowledgeBase/index.js"></script>
}

<div id="vueContainer" v-cloak>
    <form id="uploadFileForm">


        <div class="row">

            <legend> 
                Add Information Manually
            </legend>
                          
        </div>


        <div class="row">
            <div class="col-5">

                <p>Enter Text to Save in Knowledge Base:</p>
                <textarea rows="7" v-model="TextToAdd" class="text-input form-control"></textarea>

            </div>
        </div>


        <div v-if="isLoading" class="row">
            <div class="col-2">
                <div class="spinner-border" role="status">
                    <span class="sr-only"> </span>
                </div>
            </div>
        </div>


        <div v-if="AddParagraphErrorMessage" class="row">
            <div class="col-3">
                <div class="alert alert-danger alert-dismissible">

                    <button type="button" class="btn-close" aria-label="Close" v-on:click="hideAddParagraphAlerts"></button>

                    {{ AddParagraphErrorMessage }}

                </div>
            </div>
        </div>



        <div v-if="AddParagraphSuccessful" class="row">
            <div class="col-3">
                <div class="alert alert-success alert-dismissible">

                    <button type="button" class="btn-close" aria-label="Close" v-on:click="hideAddParagraphAlerts"></button>

                    The text has been successfully saved

                </div>
            </div>
        </div>


        <div>
            <button type="button" class="btn btn-primary" v-on:click="addParagraph()" v-bind:disabled="buttonDisabled">Save</button>
        </div>


        <div class="row">

        </div>
         <div class="row">

        </div>

        <div class="row">
            
             <legend> 
                Add Information by Files
            </legend>
        </div>


        <div class="row">
            <div class="col-6 form-group">
                <label>Select File to Upload (PDF/DOC/DOCX Only):</label>
                <br />
                <input type="file" id="fileInput" class="form-control-file" v-on:change="checkFileSelected" v-bind:accept="AcceptedFileExtensions" />
            </div>
        </div>


        <div class="row">
            <div class="col-2 d-flex align-items-center">
                <button type="button" class="btn btn-primary" v-on:click="uploadFile" v-bind:disabled="DisabledUploadButton">
                    Upload
                </button>
                <div class="ms-3">
                    <div class="spinner-border text-primary" role="status" v-if="ShowsUploadSpinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row" v-if="CurrentProcessFileName">
        <div class="col-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" v-bind:style="ProgressBarStyle" v-bind:aria-valuenow="CurrentProgress" aria-valuemin="0" aria-valuemax="100">
                    {{CurrentProgress}}%
                </div>
            </div>
        </div>
    </div>

    <div class="row" v-if="UploadFileErrorMessage">
        <div class="col-4">
            <div class="alert alert-danger alert-dismissible">
                {{UploadFileErrorMessage}}
                <button type="button" class="btn-close" aria-label="Close" v-on:click="ErrorMessage = ''">
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="alert alert-info">
                <span v-if="IsInitialLoading">Loading...</span>
                <template v-else-if="!LastUploadedFileInfo">
                    <span v-if="CurrentProcessFileName">Processing file...</span>
                    <span v-else>No information available for the last uploaded file.</span>
                </template>
                <span v-else>
                    Last uploaded file: <br />
                    <strong>
                        {{ LastUploadedFileInfo.FileName }}  
                        <span v-if="CurrentProcessFileName && CurrentProgress < 100">(processing...)</span>
                    </strong>
                    <br/>
                    {{ FormattedLastUploadedFileDateTime }}
                </span>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-info" v-on:click="GetTestFromApi">
                Test
            </button>
        </div>
    </div>
    <div class="row" v-if="TestMessage">
        <div class="col-4">
            <div class="alert alert-info">
                {{TestMessage}}
            </div>
        </div>
    </div>*@
</div>