@section Scripts{
    <script src="~/js/VueModels/Query/Index.js"></script>
}



<div id="vueContainer">
    <p>Ingrese su consulta:</p>
    
    <textarea input type="text" v-model="Texto" class="text-input" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;"></textarea>

    <div v-if="isLoading" class="row">
        <div class="col-2">
            <div class="spinner-border" role="status">
                <span class="sr-only"> </span>
            </div>
        </div>
    </div>

    <div v-if="mostrarRespuesta" class="row">
        <div class="col-3">
            <br />
            <p>Respuesta:</p>
            <div class="alert alert-info alert-dismissible">
                <p>{{ textoIngresado }}</p>
                <button type="button" class="btn-close" aria-label="Close" v-on:click="closeAlert"></button>
            </div>
        </div>
    </div>
    <div>

        <button v-on:click="consultar" v-bind:disabled="isButtonDisabled">Consultar</button>
    </div>
    


    <div >
        
        
    </div>
</div>
