@section Scripts{
    <script src="~/js/VueModels/Query/Index.js"></script>
}



<div id="vueContainer">
    <p>Ingrese su consulta:</p>
    
    <textarea input type="text" v-model="Texto" class="text-input" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;"></textarea>

    <div>
        
        <button v-on:click="consultar" v-bind:disabled="isButtonDisabled">Consultar</button>
    </div>
    <div v-if="mostrarRespuesta" class="row">
        <div class="col-3">
            <br />
            <p>Respuesta:</p>
            <div class="alert alert-info">
                <p>{{ textoIngresado }}</p>
            </div>
        </div>
    </div>
    


    <div >
        
        
    </div>
</div>
