@section Scripts{
    <script src="~/js/VueModels/Query/Index.js"></script>
}



<div id="vueContainer" v-cloak>

    <div class="row">
        <div class="col-4">
            <p>Username:</p>
            <textarea rows="1" v-model="User" class="text-input form-control"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <p>Enter your question:</p>
            <textarea rows="7" v-model="Text" class="text-input form-control"></textarea>
        </div>
    </div>
    
    <div v-if="isLoading" class="row">
        <div class="col-2">
            <div class="spinner-border" role="status">
                <span class="sr-only"> </span>
            </div>
        </div>
    </div>

    <div>
         <button v-on:click="consult" class="btn btn-primary" v-bind:disabled="isButtonDisabled">Consult</button>
    </div>

    <div v-if="showAnswer" class="row">
        <div class="col-5">
            <br />
            
            <div class="alert alert-info alert-dismissible">
                <p><strong><u>Your Question:</u></strong></p>
                <p>{{ enteredText }}</p>
                <p><strong><u>Response:</u></strong></p>
                <p>{{ textResponse }}</p>
                <button type="button" class="btn-close" aria-label="Close" v-on:click="closeAlert"></button>
            </div>
        </div>
    </div>

    <div v-if="alertError" class="row">
        <div class="col-3">
            <br />

            <div class="alert alert-danger alert-dismissible">
                <p><strong>{{alertError}}</strong></p>
                <button type="button" class="btn-close" aria-label="Close" v-on:click="closeAlertError"></button>
            </div>
        </div>
    </div>
    
    


    
</div>
